{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "airbnb"
    ],
    "plugins": [
        "babel",
        "react",
        "jest",
        "react-hooks"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "eslint linebreak-style": [
            0,
            "error",
            "windows"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "react/jsx-uses-vars": "error",
        "react/prop-types": "off",
        "indent": [
            "error",
            2,
            {
                "SwitchCase": 1
            }
        ],
        "no-trailing-spaces": "error",
        "semi": [
            "error",
            "always"
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxEOF": 1,
                "maxBOF": 1
            }
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "no-multi-spaces": "error",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "no-extra-parens": "off",
        "react/jsx-fragments": "error",
        "react/jsx-curly-newline": "warn",
        "react/state-in-constructor": "warn",
        "react/static-property-placement": "warn",
        "react/jsx-props-no-spreading": "warn",
        "react/jsx-filename-extension": "off",
        "import/no-unresolved": "off",
        "react/react-in-jsx-scope": "off",
        "import/prefer-default-export": "off",
        "no-shadow": "off",
        "max-len": [
            "error",
            {
                "code": 140
            }
        ],
        "no-bitwise": [
            "error",
            {
                "allow": [
                    "~"
                ]
            }
        ],
        "no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": true,
                "allowTernary": true
            }
        ],
        "camelcase": "warn",
        "jsx-a11y/label-has-associated-control": "warn",
        "jsx-a11y/no-static-element-interactions": "warn",
        "no-nested-ternary": "warn",
        "jsx-a11y/click-events-have-key-events": "warn",
        "react/no-array-index-key": "warn",
        "import/extensions": "off",
        "jsx-a11y/control-has-associated-label": "warn",
        "react/no-unescaped-entities": "off",
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "react/destructuring-assignment": "off",
        "react/button-has-type": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "warn",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}